# Задание 1

Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.
Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [5]:
import pandas as pd
import numpy as np

In [6]:
from sklearn.datasets import load_boston

In [7]:
boston = load_boston()

In [8]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [9]:
data = boston.data

In [10]:
data.shape

(506, 13)

In [11]:
data

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [12]:
target = boston.target

In [13]:
feature_names = boston.feature_names

In [14]:
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [15]:
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [16]:
X.shape

(506, 13)

In [17]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [18]:
y = pd.DataFrame(target, columns=['price'])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [19]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
lr = LinearRegression()

In [24]:
lr.fit(X_train, y_train)

LinearRegression()

In [25]:
y_pred = lr.predict(X_test)

In [26]:
check_test = pd.DataFrame({'y_test': y_test['price'],
                          'y_pred': y_pred.flatten()},
                         columns=['y_test', 'y_pred'])

In [27]:
check_test.head(10)

     y_test     y_pred
173    23.6  28.838854
274    32.4  36.007833
491    13.6  15.083248
72     22.8  25.230909
452    16.1  18.878641
76     20.0  23.213983
316    17.8  17.593112
140    14.0  14.305081
471    19.6  23.054390
500    16.8  20.620083

In [28]:
check_test['error'] = check_test['y_pred'] - check_test['y_test']
check_test.head()

     y_test     y_pred     error
173    23.6  28.838854  5.238854
274    32.4  36.007833  3.607833
491    13.6  15.083248  1.483248
72     22.8  25.230909  2.430909
452    16.1  18.878641  2.778641

In [29]:
initial_mse = (check_test['error'] **2).mean()
initial_mse

22.098694827097923

In [30]:
from sklearn.metrics import mean_squared_error

In [31]:
initial_mse = mean_squared_error(y_pred, y_test)
initial_mse

22.098694827097933

In [32]:
(np.abs(check_test['error'])).mean()

3.060939595437014

In [33]:
from sklearn.metrics import mean_absolute_error

In [34]:
mean_absolute_error(y_test, y_pred)

3.0609395954370147

In [35]:
from sklearn.metrics import r2_score

In [36]:
r2_score(y_test, y_pred)

0.6844267283527139

# Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble. Сделайте 
агрумент n_estimators равным 1000, max_depth должен быть равен 12 и random_state сделайте равным 42. Обучите 
модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression, но при этом в метод fit вместо 
датафрейма y_train поставьте y_train.values[:, 0], чтобы получить из датафрейма одномерный массив Numpy, так как для 
класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма. 
Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания. Напишите в 
комментариях к коду, какая модель в данном случае работает лучше.

In [37]:
from sklearn.ensemble import RandomForestRegressor

In [38]:
rfr = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [40]:
rfr.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [41]:
y_pred = rfr.predict(X_test)

In [43]:
check_test = pd.DataFrame({'y_test': y_test['price'],
                          'y_pred': y_pred.flatten()},
                         columns=['y_test', 'y_pred'])

check_test.head()

     y_test     y_pred
173    23.6  22.660402
274    32.4  30.705781
491    13.6  16.739989
72     22.8  23.644725
452    16.1  16.937232

In [44]:
check_test['error'] = check_test['y_pred'] - check_test['y_test']
check_test.head()

     y_test     y_pred     error
173    23.6  22.660402 -0.939598
274    32.4  30.705781 -1.694219
491    13.6  16.739989  3.139989
72     22.8  23.644725  0.844725
452    16.1  16.937232  0.837232

In [45]:
from sklearn.metrics import mean_squared_error

In [46]:
initial_mse = mean_squared_error(y_pred, y_test)
initial_mse

10.110068657271116

In [47]:
(np.abs(check_test['error'])).mean()

2.1205493981862156

In [48]:
from sklearn.metrics import mean_absolute_error

In [49]:
mean_absolute_error(y_test, y_pred)

2.1205493981862156

In [50]:
from sklearn.metrics import r2_score

In [51]:
r2_score(y_test, y_pred)

0.8556264309853492

In [52]:
# Результат с использованием линейной регрессии = 0.6844267283527139
# Результат с использованием алгоритма "случайный лес" = 0.8556264309853492

# Если я выполнила задание правильно, то считаю, что алгоритм "случайный лес" показывает более точные результаты.

# Задание 3

Вызовите документацию для класса RandomForestRegressor, найдите информацию об атрибуте feature_importances_.
С помощью этого атрибута найдите сумму всех показателей важности, установите, какие два признака показывают наибольшую важность.

In [53]:
rfr.feature_importances_

array([0.0395092 , 0.00179873, 0.00711762, 0.00127035, 0.01189409,
       0.43827023, 0.01507581, 0.05865088, 0.00435371, 0.01169389,
       0.01629392, 0.01219007, 0.3818815 ])

In [54]:
feature_importance = pd.DataFrame({'name':X.columns, 
                                   'feature_importance':rfr.feature_importances_}, 
                                  columns=['feature_importance', 'name'])
feature_importance

    feature_importance     name
0             0.039509     CRIM
1             0.001799       ZN
2             0.007118    INDUS
3             0.001270     CHAS
4             0.011894      NOX
5             0.438270       RM
6             0.015076      AGE
7             0.058651      DIS
8             0.004354      RAD
9             0.011694      TAX
10            0.016294  PTRATIO
11            0.012190        B
12            0.381881    LSTAT

In [55]:
feature_importance.nlargest(2, 'feature_importance')

    feature_importance   name
5             0.438270     RM
12            0.381881  LSTAT